@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Juegos Olimpicos 2024</h1> 
    <br />
    <br />    
    <p>Diego Rodriguez Estudiante N°241397</p>
</div>
